{% extends "layout_hounslow.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block pageTitle %}
  Additional questions
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/type-of-pest">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/about-your-home" method="post">

        {{ govukInput({
          label: {
            text: "How many rooms need treating?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-4",
          id: "number-rooms",
          name: "number_rooms",
          inputmode: "numeric",
          pattern: "[0-9]*",
          spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
