{% extends "layout_hounslow.html" %}

{% block pageTitle %}
  Prepare your home for a bedbug treatment
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Prepare your home for a bedbug treatment
      </h1>

      <p>These preparations must be completed by the time of our arrival on each visit.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Remove all bed linen from the rooms to be treated. Wash or dry clean as appropriate on the day of treatment. If washing, then this should include a cycle at 60o C or more to kill any insect eggs. Replace these items only after treatment has been completed. Please note that it is currently advised that you wash duvets rather than dry-clean them if at all possible.</li>

        <li>Empty all drawers, bedside cabinets, wardrobes or other bedroom furniture. Place the removed articles in cardboard boxes, or large bin bags, and keep them inside the room.  Please try not to overload any box or bag as we will need to move them around the room as we work.</li>

        <li>Vacuum clean the carpets on the morning of our visit and ensure that the contents of the vacuum cleaner are emptied outside into an external rubbish bin.</li>

        <li>If you have beds with drawers underneath them then remove them and their contents.</li>

        <li>Some beds have a fabric cover on the underside – this should be removed so that the internal frame of the bed can be sprayed. The fabric should be thrown away. The removal of this will not affect the bed in any way.</li>

        <li>Familiarise yourself with your electrical fuse board. We may ask you to turn off ring mains or lighting circuits if we need to treat electrical sockets, although we will avoid doing this if at all possible.</li>
      </ul>

      <h2 class="govuk-heading-l">Further treatments</h2>

      <p>With your help we will make every effort to ensure that the bedbugs are treated as thoroughly as we can. However, please be advised that we cannot guarantee that the bedbug infestation will be fully controlled, even after two treatments. It is possible that further treatment may be required and the reasons for this are more fully explained in the enclosed leaflet. </p>

      <p>Please note that charges will apply if any additional work is required after the completion of the two visit cycle.</p>

      <h2 class="govuk-heading-l">Further questions</h2>

      <p>If, after reading this letter and the attached leaflet, you have any further questions then please <a href="#">contact us</a>.</p>
    </div>
  </div>
{% endblock %}
