{% extends "layout_hounslow.html" %}

{% block pageTitle %}
  Booking complete
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Booking complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>Your appointment is on <strong>{{ formatted_date }}</strong> between <strong>{{ formatted_time }}</strong>.</p>

      <p>We have sent you a confirmation email with details of your appointment and will remind you 1 day before.</p>

      {% if data['type_of_pest'] == 'bedbugs' %}
      <p>You will need to <a href="/bedbug-preparation">prepare your home</a> before our officers arrive to treat the bedbugs. Please follow the instructions. You will be reminded the day before the appointment.</p>
      {% endif %}

      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
