{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Confirm your booking
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/choose-time-slot">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Confirm your booking</h1>

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">This treatment will cost {{ price }}</h2>

        <p>{{ pest['details'] }}</p>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-top-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of pest
          </dt>
          <dd class="govuk-summary-list__value">
            {{ pest['title'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>

      <p><a href="/type-of-pest"> Change <span class="govuk-visually-hidden"> type of pest</span></a></p>

      <dl class="govuk-summary-list govuk-!-margin-top-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chosen time slot
          </dt>
          <dd class="govuk-summary-list__value">
            {{ time_slot }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>

      <p><a href="/choose-time-slot">Change <span class="govuk-visually-hidden"> time slot</span></a></p>


      <h2 class="govuk-heading-m govuk-!-margin-top-9">About your home</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of home
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['home_type']  | capitalize }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of bedrooms
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['number_bedrooms'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Floor
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['floor_number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location of pests
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pest_location']  | capitalize }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>

      <p><a href="/about-your-home">Change <span class="govuk-visually-hidden"> your home details</span></a></p>


      <h2 class="govuk-heading-m govuk-!-margin-top-9">Your details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['your_name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address_line_1'] }}
            <br />{{ data['address_line_2'] }}
            <br />{{ data['address_town'] }}
            <br />{{ data['address_county'] }}
            <br />{{ data['address_postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['phone'] }}</p>
            <p>{{ data['email'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How you prefer to be contacted
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{ data['contact_preference'] | capitalize }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>

      <p><a href="/your-details">Change <span class="govuk-visually-hidden"> your details</span></a></p>

      <form action="/enter-card-details" method="post" novalidate class="govuk-!-margin-top-9">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and pay
        </button>

      </form>

    </div>
  </div>
{% endblock %}
