{% extends "layout_hounslow.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Pest control price list
      </h1>

      <p>These are domestic prices only. Prices include VAT.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">
              Pest
            </th>
            <th class="govuk-table__header">
              Price
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" colspan="2">Rats</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Garden</td>
            <td class="govuk-table__cell">£110</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Domestic charge applies for up to 3 visits to the property and applies to single, occupied premises not in multiple occupation. Communal gardens are charged at the commercial rate.
Additional visits at £35 each.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Indoors</td>
            <td class="govuk-table__cell">£130</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Includes external treatment where necessary. £75/hr Additional visits at £40 each.</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Mice</th>
            <td class="govuk-table__cell">£130</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Domestic charge applies for up to 3 visits to the property. Any additional visits required will be charged at £40 each.</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Squirrels</th>
            <td class="govuk-table__cell">£175</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Domestic charge applies for up to 4 visits to the property. Any additional visits required will be charged at £40 each.</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Fleas</th>
            <td class="govuk-table__cell">£110</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Domestic charge covers 1 visit to the property to treat a two-bedroom property. For larger properties add £25 per additional bedroom.</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Cockroaches</th>
            <td class="govuk-table__cell">£165</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Domestic charge covers 2 visits to the property. Any additional visits required will be charged at £80 each.</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Bedbugs</th>
            <td class="govuk-table__cell">£200</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">
              <p>Domestic charge covers 2 visits to the property for up to two rooms treated. Additional rooms are charged at £55 each Any additional visits required will be charged at £100 plus £27.50 for each additonal room over 2.</p>

              <p>A charge of £30 will apply if we arrive and find that the client has failed to prepare rooms correctly resulting in a postponement of the service. This is payable before any further work is booked.</p>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Pharaoh ants</th>
            <td class="govuk-table__cell">£160</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Domestic charge covers 2 visits to the property. Any additional visits required will be charged at the commercial rate.</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Garden ants</th>
            <td class="govuk-table__cell">£100</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Per treatment. Please note that we do not operate services to control ants in garden or open areas but will treat premises where ants are entering them.</td>
          </tr>

          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Wasps</th>
            <td class="govuk-table__cell">£65</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="2">Charges are for the treatment of a single wasp nest and do not cover removal – which is rarely necessary. Additional nests treated at the same time are charged at £30 each. Removal of nests following treatment, where necessary and accessible, will be charged at our commercial hourly rate in addition to the treatment charge.</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Pest control, welfare and DCOs
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="/start">
                {{ serviceName }}
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Pests, welfare and DCOs</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
