{% extends "layout_hounslow.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/about-your-home">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your details</h1>

      <form class="form" action="/choose-time-slot" method="post">
        {{ govukInput({
          label: {
            text: 'Your name',
            classes: "govuk-label--m"
          },
          id: 'your-name',
          name: 'your_name',
          autocomplete: 'name'
        }) }}

        {% call govukFieldset({
          legend: {
            text: "Your address",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "address-line-1",
            name: "address_line_1",
            autocomplete: "address-line1"
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "address-line-2",
            name: "address_line_2",
            autocomplete: "address-line2"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address_town",
            autocomplete: "address-level2"
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "address_county"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address_postcode",
            autocomplete: "postal-code"
          }) }}

        {% endcall %}

        {{ govukInput ({
          label: {
            text: "Mobile phone number",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "phone",
          name: "phone",
          type: "tel",
          autocomplete: "tel",
          spellcheck: false
        })}}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukRadios({
          idPrefix: "contact-preference",
          name: "contact_preference",
          fieldset: {
            legend: {
              text: "How would you like to be contacted?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "sms",
              text: "SMS message"
            },
            {
              value: "email",
              text: "Email"
            },
            {
              value: "both",
              text: "Both"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
